<!DOCTYPE html>
<html lang="Us-en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="app.component.css">
    <title>ShipShape</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <img src="assets/Logos/tinyLogo.png" style="max-width: 10%;" alt="main_logo">
            <ul class="nav-menu">
                <li class="nav-item"><a href="forms.html">Try Out</a></li>
            </ul>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="home">
            <div class="home-text">
                <h4 class="text-h4">Welcome to ShipShape</h4>
                <h1 class="text-h1">Your dream, our travel</h1>
                <p>Come and look what experiences fit you the best 😉</p>
                <a href="../forms.html" class="home-btn">Try Out</a>
            </div>
            <div class="home-img">
                <img src="assets/Logos/ShipShape_Logo.png" alt="main_logo">
            </div>
        </section>
    </main>
</body>
</html>
